
body {
	font-size: 0.9em;
	font-family: Arial, "Dejavu Sans",sans-serif;
	margin: 0;
	/*padding-top: 50 px;
	padding-left: 50 px;
	padding-right: 50px;*/
	/* (The background color is specified elsewhere, so do a global replacement if it ever changes) */
	background-color: #dddddd;
	width: 1200px;
}
table.helpT
{ text-align: left;
font-family: Arial;
font-weight: normal;
font-size: 15px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }

td.helpHed
{
border: 1px solid #6699CC;
background-color: #5C508B; /*#BEC8D1;*/
text-align: left;
text-indent: 0px;
font-family: DinC, Arial, "Times New Roman", Times, serif;
font-size: 14px;
color: #ffffff;
}
td.helpHed2
{
border: 1px solid #000000;
background-color: #BEC8D1;
text-align: left;
text-indent: 0px;
font-family: Arial, "Times New Roman", Times, serif;
font-weight: bold;
font-size: 10px;
color: #404040;
}
td.helpHed3
{ 
/*border-bottom: 0px solid #6699CC;
border-left: 0px solid #6699CC;
border-top: 0px solid #6699CC;
border-right: 0px solid #6699CC;
background-color: #BEC8D1;*/
text-align: left;
text-indent: 0px;
font-family: Arial, "Times New Roman", Times, serif;
font-weight: normal;
font-size: 9px;
color: #404040;
border: 1px solid #000000;
}

td.helpHed4
{
border: 1px solid #BEC8D1;
background-color: #BEC8D1;
text-align: left;
text-indent: 0px;
font-family: Arial, "Times New Roman", Times, serif;
font-weight: bold;
font-size: 10px;
color: #000000;
}
td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 1px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Arial, sans-serif, Arial;
font-weight: normal;
font-size: 15px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: left;
text-decoration: none;
text-indent: 0px;
font-family: Arial;
font-weight: normal;
font-size: 13px;
color: #404040;
width: 580px;
background-color: #fafafa;
border: 1px #cccccc solid;
border-collapse: collapse;
border-spacing: 0px;

/*border-top: 1px;*/
}
table.sofT2
{ text-align: left;
text-decoration: none;
text-indent: 0px;
font-family: Arial;
font-weight: normal;
font-size: 13px;
color: #404040;
width: 800px;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px;

/*border-top: 1px;*/
}


ga:link {
	color: #900;
}
a:visited {
	color: #48468f;
}
a:hover {
	color: #f20;
}
a[name] {
	color: inherit;
	text-decoration: inherit;
}

#snpalizer-header {
	
background: url(images/snp_back.png) no-repeat;
height:150px;
display:block;
width:1200px;
}

#toolbar .right .module {
margin-left: 15px;
float: right;
}


div.module {
position: relative;
}

#header {
height: inherit;
margin: 0px 10px 0px 10px;
padding: 5px 0px 0px 0px;
position: relative;
z-index: 10;
clear: both;
}


#logo {
position: absolute;
top: 5px;
padding-left: 5px;
}
div.mod-blank {
overflow: hidden;
}

 
#left {
    position: relative;
    left: -50%;
     
    float: left;
    overflow:hidden;
}

 
#right {
     
     
    position: relative;
    float: left;
    overflow:hidden;
}


.wrapper {
width: 1200px;
margin:auto;
}

#banner {
float: right;
margin-right: 15px;
margin-top:10px;
}

#toolbar .menu li, #footer .menu li {
display: inline-block;
margin: 0px;
padding: 0px;
}
#toolbar .menu li a {
display: inline-block;
padding: 0px 13px 0px 15px;
background: url(images/topmenu_item_bg.png) 0 50% no-repeat;
overflow: hidden;
color: #E2E2E7;
text-decoration: none;
}
#toolbar ul.menu {
display: inline-block;
margin: 1px;
padding: 0px;
list-style: none;
}

#toolbar {
height: 35px;
width:auto;
padding: 0px 0px 0px 0px;
overflow: hidden;
color: #E2E2E7;
line-height: 30px;
font-size: 11px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


#snpalizer-header-logo {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 15px;
	top: 0px;
	z-index: 3;
}
#snpalizer-header-logo img {
	width: 460px;
	height: 75;
}
#snpalizer-header-items {
	/* position is offset by the header padding amount */
	position: absolute;
	right: 10px;
	top: 30px;
	text-align: right;
	display: inline;
}
#snpalizer-header-items a {
	color: #000;
	text-decoration: none;
	padding: 7pt;
	font-size: 0.8em;
}
#snpalizer-header-items a:hover, #snpalizer-header-search-button:hover {
	color: #f20;
	cursor: pointer;
}
#snpalizer-header-items1 img {
	margin-right: 1px;
	width: 255px;
	height: 44px;
}
#snpalizer-header-items2 img {
        margin-right: 1px;
        width: 192px;
        height: 30px;
}
#snpalizer-header-search {
	height: 25px;
}
#snpalizer-header-search-entry {
	vertical-align: top;
	margin: 0.65em 4px 0 10px;
	padding: 2px 4px;
	background-color: #f5f5f5;
	border: 1px solid #999;
	font-size: 0.8em !important;
}
#snpalizer-header-search-entry:focus {
	background-color: #fff;
	border: 1px solid #555;
}
#snpalizer-header-search-button {
	font-size: 0.8em !important;
	vertical-align: top;
	margin-top: 0.2em;
	border: 0;
	padding: 7px;
	background: #fff url('/images/header-search.png') no-repeat left;
	padding-left: 21px;
}
#snpalizer-header-items form {
	float: right;
}
#snpalizer-header-items input {
	font-size: 0.85em;
}
#snpalizer-nav {
	margin: 0;
	padding: 0;
	background-color: #2B167B;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #f5f5f5;
}
#snpalizer-nav ul {
	margin: 0;
	padding: 0;
}
#snpalizer-nav li {
	display: inline;
	list-style: none;
	padding: 0 5pt;
}
#snpalizer-nav li + li {
	padding-left: 8pt;
	border-left: 1px solid #99a5bf;
}
#snpalizer-nav a {
	color: #c5ccdb;
	text-decoration: none;
}
#snpalizer-nav a:hover {
	color: #fff;
}


#snpalizer-side-right {
	position: absolute;
	z-index: 1;
	width: 13em;
	right: 12px;
	padding-top: 3px;
	}

#snpalizer-side-right ul {
	list-style: square inside;
	padding: 0;
	margin: 0;
}

/* Left-side naviagation */
#snpalizer-side-nav-label {
	display: none;
}

#snpalizer-menu-bar{
	width: 1200px;
}

#snpalizer-menu-bar ul {
	background-color: #8076a6;
	list-style-type: none;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	font-family: DinC,helvetica, arial;
}
#snpalizer-menu-bar li {
	display: inline;
		padding-top:5px;
		padding-bottom:5px;
}
#snpalizer-menu-bar li a {

	color: #ffffff;/*#544b87;*/
	text-decoration: none;
	padding-top:5px;
	padding-left:80px;
	padding-right:85px;
	padding-bottom:5px;
}
#snpalizer-menu-bar li a:hover {
	background-color: #34548f;
	color: #fff;
}
#snpalizer-side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#snpalizer-side-nav ul li {

	background-color: #341999;
	/* IE/Win gets upset if there is no bottom border... Go figure. */

}
#snpalizer-side-nav ul li:hover {
	border-bottom: 1px solid #34548f;
}
#snpalizer-side-nav ul li a {
	padding-left: 12px;
	color: #a7b2c9;
}
#snpalizer-side-nav ul li a:hover {
	background-color: #46659e;
}
#snpalizer-side-nav ul ul li a {
	padding-left: 18px;
}
#snpalizer-side-nav strong a {
	font-weight: normal;
	color: #fff !important;
	background-color: #10203b;
}
#snpalizer-side-nav strong a:hover {
	background-color: #172e56 !important;
}

/* content containers */
#snpalizer-middle-one, #snpalizer-middle-two, #snpalizer-middle-three {
	font-size: 0.9em;
	/* position: relative; */ /* relative to utilize z-index */
	width: 1200px;
	min-width: 400px;

	
}

#snpalizer-middle-three {
	margin-right: 13em;
	padding-right: 24px;
}

#snpalizer-content {
	padding-top: 20px;
	background-color: #fff;
	padding-bottom:20px;
	min-height:400px;


}
#plain-content {
	padding-top: 30px;
	padding-left:50px;
	padding-right:50px;
	background-color: #fff;
	padding-bottom:20px;
	min-height:400px;
}

.snpalizer-corner-tl, .snpalizer-corner-tr, .snpalizer-corner-bl, .snpalizer-corner-br {
	background-color: #d9d9d9;
	position: relative;
	width: 19px;
	height: 19px;
	/* The following line is to render PNGs with alpha transparency within IE/Win, using DirectX */
	/* Work-around for IE6/Mac borkage (Part 1) */
	display: none;
}

.snpalizer-corner-tl, .snpalizer-corner-bl { float: left; left: 0px; }
.snpalizer-corner-tr, .snpalizer-corner-br { float: right; right: 0px; }
.snpalizer-corner-tl, .snpalizer-corner-tr { top: 0px; }
.snpalizer-corner-bl, .snpalizer-corner-br { bottom: 0px; margin-top: -19px; /* Opera fix (part 1) */ top: -18px;}

html>body .snpalizer-corner-tl { background: #d9d9d9 url("../images/corner-tl.png") no-repeat left top; }
html>body .snpalizer-corner-tr { background: #d9d9d9 url("../images/corner-tr.png") no-repeat right top; }
html>body .snpalizer-corner-bl { background: #d9d9d9 url("../images/corner-bl.png") no-repeat left bottom; }
html>body .snpalizer-corner-br { background: #d9d9d9 url("../images/corner-br.png") no-repeat right bottom; }

.snpalizer-corner-tl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/corner-tl.png',sizingMethod='scale'); }
.snpalizer-corner-tr { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/corner-tr.png',sizingMethod='scale'); }
.snpalizer-corner-br { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/corner-br.png',sizingMethod='scale'); }
.snpalizer-corner-bl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/corner-bl.png',sizingMethod='scale'); }

/* \*/
.snpalizer-corner-tl, .snpalizer-corner-tr, .snpalizer-corner-bl, .snpalizer-corner-br {
	/* Restore the view for everything but IE6/Mac (part 2 of the "IE/Mac fix") */
	display: block;
}
/* */

.snpalizer-corner-bl, .snpalizer-corner-br {
	top: 0px;
}

.content { margin: 0 1em }

#snpalizer-sidelist {
	position: relative;
	bottom: 3px;
	margin: 0;
	padding: 3px !important;
	border: 1px solid #bbb;
	background-color: #ccc;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
}
#snpalizer-sidelist strong a {
	font-weight: normal;
	background-color: #555;
	color: #fff;
}
#snpalizer-sidelist strong a:hover {
	background-color: #333;
	color: #fff;
}
#snpalizer-sidelist li {
	list-style-position: outside;
	font-size: 0.9em;
	list-style: none;
	border: 1px solid #ccc;
	border-width: 1px 0;
	padding: 0;
	list-style: none;
}
#snpalizer-sidelist li a {
	text-decoration: none;
	display: block;
	padding: 6px 8px;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
}
#snpalizer-sidelist li a:hover {
	background-color: #999;
	color: #eee;
}

#snpalizer-footer {
	font-size: 0.75em;
	text-align: center;
	color: #000;
	
	clear: both;
	font-size: 75%;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
}
#snpalizer-footer1 {

	text-align: center;

	background: url("images/page-footer.png") 50% 0 repeat-x;
	clear: both;
	padding: 5px 0px 5px 0px;
	margin-top: 0px;
}
#snpalizer-printable {
	text-align: center;
	margin: 1em 0;
	font-size: 0.85em;
}
#snpalizer-printable a {
	text-decoration: none;
	padding: 5px 0;
	padding-left: 18px;
	background: transparent url("../images/printable.png") no-repeat left;
}
#snpalizer-printable a:hover {
	text-decoration: underline;
}

div.display-table table {
	width: 900px;
	border: 1px solid #cccccc;
	/* padding inside table area */
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.display-table-cell-shaded {
	background-color: #BEC8D1;
	color: #000000;
        width: 75%;
        vertical-align: top;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid #cccccc;
}

.display-table-cell-boxed {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	color: #000000;
        width: 25%;
        vertical-align: top;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 2px; 
}

